#navbar {
  background: #333;
  overflow: auto;
}
#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 15px;
}
#navbar ul {
  float: right;
  height: auto;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: inline-block;
  padding: 20px;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  color: #f7c08a;
  background: #444;
}
